.container {
    text-align: center;
    margin:auto;     /**/
    width: 600px;    /**/
    margin-top: 50px;
}

.input-container {
    margin-top: 20px;
}

/* Уточняем какие input подходят */
.input-container input[type='text'] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

ol {
    list-style-position: inside;
    text-align: left;
}
.li-task{
    margin-top: 10px;
    padding: 5px;
    border-bottom:1px solid rgb(214, 213, 213) ;
    font-size: 1.5em;
    position: relative;
}
.done{
    text-decoration:line-through;
    color: rgba(0, 0, 0, 0.209);
}
.done button.btn-done{
    color: gray;
}
.btn-done{
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    color: red;
}
